.mainBody {
  margin: 40px 40px 40px 40px;
  font-size: 20px;
  text-align: center;
}

.popPercent {
  font-size: 15 px;
}

select {
  font-size: 16px;
  appearance: none; /* 기본 화살표 제거 */
  border-radius: 0;
  border: none;
}

.underbody {
  margin: 150px 150px 150px 150px;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;

  overflow: scroll;
  border: 1px solid whitesmoke;
  box-sizing: border-box;
  border-radius: 15px;
}

.underbody::-webkit-scrollbar {
  display: none;
}

.header {
  margin: 2rem 2em 2rem 40px;
  font-size: 30px;
  font-family: "NPS";
  color: #0080ff;
}

.topWeather {
  text-align: center;
}

.celcius {
  font-family: "NPS";
  font-size: 40px;
  font-weight: lighter;
}

.anotherweather {
  justify-content: center;
  display: inline-block;
  margin-right: 1rem;
  font-size: 20px;
}

.weatherinfo {
  text-align: center;
}

@font-face {
  font-family: "KCC-Hanbit";
  src: url("../font/KCC-Hanbit.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NPS";
  src: url("../font/NPSfont_extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
